# Dependencies
node_modules/

# Build output
dist/
build/

# Logs and temporary files
*.log
*.tmp
*.cache

# Office add-in debug files
*.debug.xml
*.suo
*.user
*.vspscc
*.vssscc

# OS-specific
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/
*.swp
